<div class="border">
<div class="header">
<div class="shadow">
<center><h2>National Knowledge Network</h2></center>
</div>
</div>
<p>
  <% if current_user %>
    Logged in as <%= current_user.username %>.
    
    <%= link_to "Sign Out", signed_out_path %>
  <% else %>
    
    <%= link_to "Sign In", sign_in_path %>
  <% end %>
</p>


<div id="nav">
<ul>
	<li><a href="home1">Home</a></li>
	<li><a href="#">Reports</a>
             <ul>
                        <li><a href="edge_contact_details">Edge Contact Details</a></li>
			<li><a href="edge_inventory_details">Edge Inventory Details</a></li>
			<li><a href="#">Connectivity Status</a></li>
			<li><a href="asset_inventory">Asset Inventory</a></li>
			<li><a href="isms_tagging">ISMS Tagging</a></li>
                        <li><a href="#">Email</a></li>
			
</ul>
</li>
<li><a href="#">Essential Data</a>
		<ul>
			<li><a href="#">State Details</a></li>
			<li><a href="#">NLD Details</a></li>
			<li><a href="#">ISP Details</a></li>
			<li><a href="#">Institute Category</a></li>
			<li><a href="#">Institute Group</a></li>
			<li><a href="#">Edge Institute Details</a></li>
			<li><a href="#">Edge Institute Connectivity</
a></li>
			<li><a href="asset_location">Asset Location</a></li>
			<li><a href="asset_owner">Asset Owner</a></li>
			<li><a href="asset_item">Asset Item</a></li>
			<li><a href="asset_category">Asset category</a></li>
		
		</ul>

	</li>


<li><a href="#">Connectivity Status</a>

	</li>

<li><a href="#">Edge Contact</a>
		<ul>
			
			<li><a href="#">Add/Edit Contact</a></li>
		</ul>
	</li>

<li><a href="#">Inventory</a>
		<ul>
		<li><a href="#">Add/Edit Inventory</a></li>
		</ul>
	</li>


<li><a href="#">Asset Management</a>
		<ul>
			<li><a href="add_edit_asset">Add/Edit Asset</a></li>
		</ul>
	</li>

<li><a href="#">ISO 27000</a>
		<ul>
			<li><a href="asset_tagging">Asset Tagging</a></li>
			<li><a href="isms_search">ISMS Search</a></li>
			<li><a href="division">Division</a></li>
			
		</ul>
	</li>
</ul>

<br class="clearboth"/>

</div>
<h1><center>Asset Owner</center></h1>
</div>
</div>
