<p id="notice"><%= notice %></p>

<p>
  <strong>Isp name:</strong>
  <%= @isp_detail.isp_name %>
</p>

<%= link_to 'Edit', edit_isp_detail_path(@isp_detail) %> |
<%= link_to 'Back', isp_details_path %>
