// Place all the styles related to the state_details2 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the state_details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	.paginate 

	{

	font-family:Arial, Helvetica, sans-serif;

        padding: 3px;

        margin: 3px;

	}

	.paginate a {

        padding:2px 5px 2px 5px;

        margin:2px;

        border:1px solid #999;

        text-decoration:none;

        color: #666;

	}

	.paginate a:hover, .paginate a:active {

        border: 1px solid #999;

        color: #000;

	}

	.paginate span.current {

	margin: 2px;

        padding: 2px 5px 2px 5px;

	border: 1px solid #999;

	font-weight: bold;

	background-color: #999;

	color: #FFF;

        }
        .paginate span.disabled {

 	padding:2px 5px 2px 5px;

	margin:2px;

	border:1px solid #eee;

	color:#DDD;

        }

	.boldtable, .boldtable TD, .boldtable TH

	{

	font-family:sans-serif;

	font-size:10pt;

	color:black;

	}
